<h1>Check login</h1>
<% if(r.uname === "test" && r.pwd === "12345") {%>
    <H2> SUCCESS</H2>
<%} else{ %>
    <font color="red"><H2> FAILED</H2>
    <b>TRY AGAIN!!</b></font>
<%} %>
<!-- <%= r.uname %>
<%= r.pwd %> -->