<h1>
    Login Page
</h1>
<body>
<form action="/checklogin" method="POST">
    <input type="text" placeholder="user name" id="uname" name="uname">
    <input type="password" placeholder="Password" id="password" name="pwd">
    <button type="submit" id="loginbtn">Login</button>
</form>
</body>